@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

:root {
--branco: white;
--cor-de-fundo: #3572EF;
--cor-de-senha: #910A67;
--fundo-senha: #3C0753;
--borda: #720455;
--fonte: 'Arial', sans-serif;
}

* {
font-weight: 500;
box-sizing: border-box;
}

body {
color: var(--branco);
background-color: var(--cor-de-fundo);
font-family: var(--fonte);
margin: 0;
padding: 0;
}

.titulo_principal {
font-size: 32px;
}

.titulo_secundario {
font-size: 24px;
}

.conteudo_titulo {
text-align: center;
margin-top: 80px;
}

.cadeado_conteudo {
width: 100px;
}

.conteudo_senha {
margin-top: 80px;
background: var(--fundo-senha);
padding: 24px;
border-bottom: 6px dotted var(--borda);
}

#campo_senha {
background-color: var(--fundo-senha);
border: none;
color: var(--branco);
font-size: 40px;
width: 70%;
}

#campo_senha:focus {
outline: none;
}

.conteudo_senhas {
max-width: 1200px;
margin: 0 auto;
}

.parametro {
background-color: var(--fundo-senha);
border: 2px dotted var(--borda);
margin-top: 32px;
padding: 24px;
}

.parametro-senha__titulo {
font-size: 24px;
}

.parametro-coluna_senha {
display: flex;
flex-direction: column;
justify-content: center;
}

.parametro-senha {
width: 100%;
margin: 0 auto 24px;
}

.parametro-senha__botoes {
display: flex;
justify-content: center;
gap: 12px;
}

.parametro-senha__botao {
background-color: var(--fundo-senha);
color: var(--branco);
border: 2px solid var(--borda);
padding: 16px 24px;
font-size: 24px;
cursor: pointer;
}

.parametro-senha-textos {
display: flex;
justify-content: space-between;
padding: 16px 0;
border-top: 2px solid var(--borda);
border-bottom: 2px solid var(--borda);
font-size: 18px;
}

label {
font-size: 20px;
}

.checkbox {
width: 20px;
height: 20px;
cursor: pointer;
}

.barra {
background-color:#ffffff
height: 30px;
width: 100%;
margin-bottom: 8px;
}

.forca {
height: 30px;
position: relative;
bottom: 30px;
transition: width 0.3s ease;
}

.fraca {
width: 25%;
background-color: #e71b32;
}

.media {
width: 50%;
background-color: #faf408;
}

.forte {
width: 100%;
background-color: #00ff85;
}